{% extends "layout.html" %}
{%block header%}<h2 style="text-align: center;">{{episode.title}}</h2>{%endblock%}
{%block stopastolfo%}{%endblock%}
{%block content%}
<div class="row">
	<div class="col-12 col-md-3 bg-dark">
    <ul class="list-group">
        {% for i in anime.episodes %}
        <li class="list-group-item">
			<a href="/episode/{{i.id}}">
				{{i.title}}
			</a>
        </li>
		{% endfor %}
    </ul>
	</div>
	<div class="col-md-7 col-12 text-center">
		<iframe src="{{episode.url}}" style="border:none; height: 395px; width: 620px;" frameBorder="0" scrolling="no" allowfullscreen name="v2" allow="encrypted-media"></iframe>
	</div>
</div>
{%endblock%}
