{% extends "layout.html" %}
{%block header%}

{% if logged %}
{{user.name}}
{%if logged and user.admin%}
	<br>
	Opcje administratorskie:
	<a href="/add">Dodaj anime</a>
	<a href="/manage/users">Zarządzaj użytkownikami</a>
{%endif%}
<br>
{%else%}
<a href="/login">Zaloguj się</a>
{%endif%}
{%endblock%}
{%block content%}
<div class="row">
{% if not search %}
{% if logged %}
<div class="col-12">
	<center><h3><a href="/pinned">Przypięte ></a></h3></center>
</div>
	<hr/>
{% for i in pinned %}
	<div class="col-4 col-md-2">
		<a href="/anime/{{i.id}}">
		<div class="card anime">
			<div class="anime-card-title">
				<center>{{i.title}}</center>
			</div>
			<img class="img-top" src="{{i.image_url}}">
		</div>
		</a>
	</div>
{% endfor %}
{% endif %}
<div class="col-12">
	<center><h3>Ostatnio dodane</h3></center>
</div>
	<hr></hr>
	{% for i in last_added %}
	<div class="col-4 col-md-2">
		<a href="/anime/{{i.id}}">
	<div class="card anime">
		<div class="anime-card-title">
				<center>{{i.title}}</center>
        </div>
		<img class="img-top" src="{{i.image_url}}">
		</div>
	</a>
	</div>
	{% endfor %}
<div class="col-12">
    <center>
	<h3>Wszystkie</h3>
	</center>
</div>
	<hr/>
{%endif%}
{% for i in animes %}
<div class="col-4 col-md-2">
		<a href="/anime/{{i.id}}">
	<div class="card anime">
		<div class="anime-card-title">
			<center>{{i.title}}</center>
		</div>
		<img class="img-top" src="{{i.image_url}}">
	</div>
</a>
</div>
{%endfor%}
</div>
{%endblock%}