{% extends "layout.html" %}
{%block stopastolfo%}{%endblock%}
{%block header%}
<center><h3>Zarządzanie użytkownikami</h3></center>
{% endblock %}
{%block content%}
<div class="row">
<table class="table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Admin</th>
            <th width="20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for i in users  %}
           <tr>
                <td>
                    {{i.name}}
                </td>
                <td>
                    {{i.admin}}
                </td>
                <td>
               {% if not i.admin %}
                    <button class="btn" onclick="deleteUser({{i.id}})">usuń</button>
                    <button class="btn" onclick="promoteUser({{i.id}})">Promuj</button>
                {%endif%}
                </td>
           </tr>
        {%endfor%}
    </tbody>
</table>
</div>
<script type="text/javascript" src="/static/admin.js"></script>
{%endblock%}