{%extends "base.html"%}
{%block content%}
                <div class="col-12">
                            <div class="row">
                                {% for i in tytuly %}
                                <div class="col-6 col-md-3 offset-1-top">
                                    <a href="/anime/{{i.id}}">
                                    <div class="card rounded-0 anime">
                                      <img class="plakat card-img-top" src="{{i.image_url}}">
                                        <div class="card-header">
                                            <b class="text-light">{{i.name}}</b>
                                        </div>
                                            {% if logged[1] %}
                                        <div class="card-body">
                                            <a href="{{url_for('removeseries', id=i.id)}}"><button class="w-100 btn btn-danger rounded-0">usuń</button></a>
                                        </div>
                                            {% endif %}
                                    </div>
                                    </a>
                                </div>
                            {%endfor%}
                        </div>
{%endblock%}
